body {
  margin: 0;
  font-family: 'Onest', sans-serif;
  background: #F4A64E;
}

body {
  font-family: 'Onest', sans-serif;
  background-color: #F4A64E;
  color: var(--text);
  padding: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #FFF0E0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
}


.main h1 {
  font-size: 32px;
}

.main p {
  font-size: 18px;
  color: #444;
}

.cards {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-left: 6px solid var(--light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 250px;
}

.card h3 {
  font-size: 18px;
  color: var(--escuro);
  margin-bottom: 10px;
}

.card span {
  font-size: 28px;
  font-weight: bold;
  color: var(--mid);
}
