@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body, main, footer, nav, div, h1, h2, h3, p {
  font-family: 'Onest', Arial, Helvetica, sans-serif;
}

:root {
  --high: #ffc685;
  --light: #f89f3c;
  --mid: #1a1815;
  --escuro: #9C580C;

  --bg: #FFF0E0;
  --text: #333;
  --border-radius: 12px;
  --transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Onest', sans-serif;
  background: #F4A64E;
}

.main {
  flex: 1;
  padding: 40px;
  color: #333;
}

.main h1 {
  font-size: 32px;
  color: #F4A64E;
  font-weight: 900;
  margin-bottom: 10px;
}

.main p {
  font-size: 18px;
  color: #444;
}