@import 'tailwindcss';

@theme {
  --color-stuff-high: #FFC685;
  --color-stuff-light: #F89F3C;
  --color-stuff-mid: #DA8627;
  --color-stuff-dark: #9C580C;
  --color-stuff-low: #362007;
  --color-stuff-white: #FFF0E0;
  --color-stuff-black: #0E0700;
}